<div class="mona-profile" itemscope itemtype="https://schema.org/Person">
{% if site.author.avatar and site.author.avatar != "" %}
<img class="mona-portrait" src="{{ site.author.avatar | prepend: '/images/' | relative_url }}" alt="Dr. Mona Chopra">
{% else %}
<div class="mona-monogram" aria-hidden="true">MC</div>
{% endif %}
<h3 class="author__name" itemprop="name">{{ site.author.name }}</h3>
<p class="mona-credentials">{{ site.author.bio }}</p>
<p>Geriatrician<br>Healthy Ageing & Elder Care</p>
<p class="mona-location">{{ site.author.location }}</p>
</div>
